@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "QuantaGroteskPro";
  src: url("./QuantaGroteskPro.otf") format("truetype");
}

@font-face {
  font-family: "HarmoniaSansProCyr";
  src: url("./HarmoniaSansProCyr.ttf") format("truetype");
}

*,
pre {
  font-family: "HarmoniaSansProCyr", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.swiper * {
  background: white;
  overflow: hidden;
  border-radius: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  /* max-width: 100%; */
  min-height: 100%;
  /* object-fit: cover; */
  background: #F9F9F9 !important;
}

@media (min-width: 768px) {
  body, html {
    background: #F9F9F9;
  }

  .swiper * {
    background: #F9F9F9;
    border-radius: 20px;
  }
}

input:focus,
textarea:focus {
  border: 2px solid #5c0099 !important;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input {
  -moz-appearance: textfield;
}

.search_input:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

select {
  border: 0 !important;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color) !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.el-dialog__headerbtn,
.el-dialog__header {
  display: none;
}

.el-dialog__body {
  padding: 30px !important;
}

.el-dialog {
  border-radius: 20px !important;
  width: 560px !important;
}

.example-showcase .el-loading-mask {
  z-index: 999;
}

@media (max-width: 768px) {
  .card {
    background: #FBFBFB;
  }
}

/* main page */
@media (max-width: 580px) {
  .card .img {
    height: 15rem;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .card .img {
    height: 12rem;
  }
  .carousel {
    height: 10rem;
  }
  .filter {
    gap: 1.4rem;
  }
  .filter select {
    font-size: 16px;
    padding: 0 30px 0 5px;
    border-radius: 5px;
  }

  .filter select:first-child {
    padding-left: 10px;
  }
}

@media (max-width: 450px) {
  .card .img {
    height: 10.5rem;
  }
}

@media (max-width: 400px) {
  .filter {
    gap: 0.5rem;
  }
  .filter select {
    font-size: 10px;
    padding: 0 30px 0 5px;
    border-radius: 5px;
  }
}

@media (max-width: 350px) {
  .card .img {
    height: 11rem;
  }
  .cards {
    gap: 0.5rem;
  }
}

.el-input__wrapper {
  height: 56px;
  width: 100% !important;
  border: 1px solid #d9d9d9 !important;
  background: transparent !important;
}

.el-input__inner,
.el-input__inner:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  width: 100% !important;
  border: none !important;
}

.time .el-input__wrapper {
  border: 0 !important;
  box-shadow: none !important;
}

/* width */
pre::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
pre::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #5C0099;
  border-radius: 10px;
}

/* Handle */
pre::-webkit-scrollbar-thumb {
  background: #5C0099;
  border-radius: 10px;
}

/* Handle on hover */
pre::-webkit-scrollbar-thumb:hover {
  background: #5C0099;
}


:root {
  --marquee-width: 100vw;
  /* --marquee-height: 20vh; */
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
}
.marquee:after {
  right: 0;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  gap: 20px !important;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  gap: 20px;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  /* flex-shrink: 0; */
  /* max-height: 100%; */
  /* font-size: calc(var(--marquee-height)*3/4); */
  /* white-space: nowrap; */
}

/* .marquee-content li img { */
  /* width: 100%; */
  /* height: 100%; */
  /* border: 2px solid #eee; */
/* } */

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 100px !important;
}
