@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "QuantaGroteskPro";
  src: url("./QuantaGroteskPro.otf") format("truetype");
}

@font-face {
  font-family: "HarmoniaSansProCyr";
  src: url("./HarmoniaSansProCyr.ttf") format("truetype");
}

* {
  font-family: "HarmoniaSansProCyr", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input:focus,
textarea:focus {
  border: 2px solid #5c0099 !important;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input {
  -moz-appearance: textfield;
}

select {
  border: 0 !important;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color) !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.el-dialog__headerbtn,
.el-dialog__header {
  display: none;
}

.el-dialog__body {
  padding: 30px !important;
}

.el-dialog {
  border-radius: 20px !important;
  width: 560px !important;
}

.example-showcase .el-loading-mask {
  z-index: 999;
}

/* main page */
@media (max-width: 580px) {
  .card .img {
    height: 9rem;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .card .img {
    height: 12rem;
  }
  .carousel {
    height: 10rem;
  }
  .filter {
    gap: 1.4rem;
  }
  .filter select {
    font-size: 16px;
    padding: 0 30px 0 5px;
    border-radius: 5px;
  }

  .filter select:first-child {
    padding-left: 10px;
  }
}

@media (max-width: 400px) {
  .filter {
    gap: 0.5rem;
  }
  .filter select {
    font-size: 10px;
    padding: 0 30px 0 5px;
    border-radius: 5px;
  }
}

@media (max-width: 450px) {
  .card .img {
    height: 10rem;
  }
}

@media (max-width: 350px) {
  .card .img {
    height: 9rem;
  }
  .cards {
    gap: 0.5rem;
  }
}

.el-input__wrapper{
  height: 56px;
  width: 100% !important;
  border: 1px solid #D9D9D9 !important;
  background: transparent !important;
}

.el-input__inner, .el-input__inner:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.el-date-editor.el-input, .el-date-editor.el-input__wrapper{
  width: 100%  !important;
  border: none !important;
}